.quiz-builder {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
}

.dropdown-container {
  position: relative;
  margin-top: 1rem;
}

.dropdown-toggle {
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  /* width: 100%; */
  width: -webkit-fill-available;
  z-index: 10;
  border: 1px solid #ccc;
  background: white;
  border-radius: 8px;
  padding: 0.75rem;
  margin-top: 0.3rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown-option {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.dropdown-option:hover {
  background-color: #f2f2f2;
}

.dropdown-option input {
  margin-right: 0.5rem;
}

.quiz-summary {
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-button {
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-button:hover:not(:disabled) {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.start-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
